<div class="mt-4">
    <h3>Khoá học đã xoá</h3>
    <a href="/me/stored/courses">Danh sách khoá học</a>
    <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khoá học</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Thời gian tạo</th>
            <th scope="col"></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.updatedAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-retore" data-id="{{this._id}}">Khôi phục</a>
                </td>
                <td>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id={{this._id}} data-target="#confirm-delete">Xoá Vĩnh Viễn</a>
                </td>
                </tr>
              {{else}}
                <tr>
                  <td colspan="5" class="text-center">
                    Thùng rác trống
                    <a href="/me/stored/courses">Danh sách khoá học</a>
                  </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Modal --}}
<div id="confirm-delete" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá Khoá Học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xoá khoá học không?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-course-form" ></form>
<form method="POST" name="restore-course-form" ></form>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        var id;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var btnRestore = $('.btn-retore');

        $('#confirm-delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            id = button.data('id');

        })
        
        btnDeleteCourse.onclick = function() {
           deleteForm.action = `/courses/${id}/force?_method=DELETE`;
           deleteForm.submit();
        }
        
        btnRestore.click(function(e) {
          e.preventDefault();
          var courseId = $(this).data('id');
          console.log(courseId);
          restoreForm.action = `/courses/${courseId}/restore?_method=PATCH`;
          restoreForm.submit();
        });
    })

</script>